In [21]:
import numpy as np
import pandas as pd
import sklearn
import scipy as s
from IPython.display import display
import matplotlib.pyplot as plt

# Load the Data

In [18]:
import scipy.io
mat = scipy.io.loadmat('tennis_data.mat')

In [22]:
PLAYERS = pd.DataFrame(mat['W'], columns=['name']).applymap(lambda x: x[0])  # remove the list around each players name
GAMES = pd.DataFrame(mat['G'], columns=['winner', 'loser'])
display(NAMES.head(), GAMES.head())

                    name
0           Rafael-Nadal
1            Juan-Monaco
2  Juan-Martin-Del-Potro
3             Mardy-Fish
4          Roger-Federer

   winner  loser
0       1      2
1       1      3
2       1      3
3       1      3
4       1      3

# Gibbs Rank

In [ ]:
def gibbs_sampler(total_iters, games = GAMES)